@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes sparkle {
  0% {
    border-image-source: linear-gradient(90deg, #FFD700, #FF4500, #FFD700);
  }
  50% {
    border-image-source: linear-gradient(180deg, #FF4500, #FFD700, #FF4500);
  }
  100% {
    border-image-source: linear-gradient(360deg, #FFD700, #FF4500, #FFD700);
  }
}

.animate-sparkle {
  border-width: 3px;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #FFD700, #FF4500, #FFD700);
  animation: sparkle 3s infinite linear;
}

